/*

__________________________________________________________________________________________________________________________________________________
__________________________________________________________________________________________________________________________________________________
__________________________________________________________________________________________________________________________________________________
__/\\\\\\\\\\\\\\\___/\\\\\\\\\\\\\\\_________/\\\\\\\\\___/\\\________/\\\_______________________________________________________________________
__\///////\\\/////___\/\\\///////////_______/\\\////////___\/\\\_______\/\\\______________________________________________________________________
_________\/\\\________\/\\\________________/\\\/____________\/\\\_______\/\\\_____________________________________________________________________
__________\/\\\________\/\\\\\\\\\\\_______/\\\______________\/\\\\\\\\\\\\\\\____________________________________________________________________
___________\/\\\________\/\\\///////_______\/\\\______________\/\\\/////////\\\___________________________________________________________________
____________\/\\\________\/\\\______________\//\\\_____________\/\\\_______\/\\\__________________________________________________________________
_____________\/\\\________\/\\\_______________\///\\\___________\/\\\_______\/\\\_________________________________________________________________
______________\/\\\________\/\\\\\\\\\\\\\\\_____\////\\\\\\\\\__\/\\\_______\/\\\________________________________________________________________
______________\///_________\///////////////_________\/////////___\///________\///_________________________________________________________________
__/\\\\\\\\\\\\\\\___/\\\________/\\\___/\\\\\\\\\\\___/\\\\\_____/\\\___/\\\________/\\\___/\\\\\\\\\\\\\\\_____/\\\\\\\\\_______________________ 
__\///////\\\/////___\/\\\_______\/\\\__\/////\\\///___\/\\\\\\___\/\\\__\/\\\_____/\\\//___\/\\\///////////____/\\\///////\\\____________________ 
_________\/\\\________\/\\\_______\/\\\______\/\\\______\/\\\/\\\__\/\\\__\/\\\__/\\\//______\/\\\______________\/\\\_____\/\\\___________________
__________\/\\\________\/\\\\\\\\\\\\\\\______\/\\\______\/\\\//\\\_\/\\\__\/\\\\\\//\\\______\/\\\\\\\\\\\______\/\\\\\\\\\\\/___________________ 
___________\/\\\________\/\\\/////////\\\______\/\\\______\/\\\\//\\\\/\\\__\/\\\//_\//\\\_____\/\\\///////_______\/\\\//////\\\__________________ 
____________\/\\\________\/\\\_______\/\\\______\/\\\______\/\\\_\//\\\/\\\__\/\\\____\//\\\____\/\\\______________\/\\\____\//\\\________________ 
_____________\/\\\________\/\\\_______\/\\\______\/\\\______\/\\\__\//\\\\\\__\/\\\_____\//\\\___\/\\\______________\/\\\_____\//\\\______________ 
______________\/\\\________\/\\\_______\/\\\___/\\\\\\\\\\\__\/\\\___\//\\\\\__\/\\\______\//\\\__\/\\\\\\\\\\\\\\\__\/\\\______\//\\\____________  
_______________\///_________\///________\///___\///////////___\///_____\/////___\///________\///___\///////////////___\///________\///____________
__________________________________________________________________________________________________________________________________________________
__________________________________________________________________________________________________________________________________________________
__________________________________________________________________________________________________________________________________________________ 
*/
/*
#0073AA
#00A0D2
*/
body, html{
	padding:0;margin:0;
	width:100%;
	height:100%;
}
body{
	background-color:#FFFFFF;
}
@font-face {
    font-family: 'low font';
    src: url('/views/fonts/BGP/BPG Arial.eot');
    src: url('/views/fonts/BGP/BPG Arial.eot') format('embedded-opentype'),
         url('/views/fonts/BGP/BPG Arial.woff2') format('woff2'),
         url('/views/fonts/BGP/BPG Arial.woff') format('woff'),
         url('/views/fonts/BGP/BPG Arial.ttf') format('truetype'),
         url('/views/fonts/BGP/BPG Arial.svg#BPGArial') format('svg');
}
@font-face {
	    font-family: 'high font';
	    src: url('/views/fonts/BGP/BPG Arial Caps 2010.eot');
	    src: url('/views/fonts/BGP/BPG Arial Caps 2010.eot') format('embedded-opentype'),
	         url('/views/fonts/BGP/BPG Arial Caps 2010.woff2') format('woff2'),
	         url('/views/fonts/BGP/BPG Arial Caps 2010.woff') format('woff'),
	         url('/views/fonts/BGP/BPG Arial Caps 2010.ttf') format('truetype'),
	         url('/views/fonts/BGP/BPG Arial Caps 2010.svg#BPGArialCaps2010') format('svg');
	}
.high_font{

	font-family:"high font" !Important;
	font-weight:bolder;

}
.low_font{
	font-family:"low font" !Important;
}

.container{
	background-color:#fff;
	width:860px;
	margin:auto;
	position:relative;
	padding:20px;
	float:right;
	min-height:100%;

}
.login_form{
	width:400px;
	padding:20px;
	max-width:250px;
	padding:40px;
	max-height:300px;
	box-shadow:0px 0px 15px #999;
	margin:auto;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:#eceff4;
}
.admin_image{
	display: block;
	margin:auto;
	margin-bottom:20px;
}
.uploader{
	display:block;
	padding:20px;
	width:500px;
	box-shadow:2px 2px 10px #999;
	float:right;
	margin-top:20px;
	height:100px;
	margin-right:30px
}
.admin_inputs{
	width:100%;
	border:none;
	padding-left:5px;
	height:40px;
	margin-bottom:5px;
}
.login{
	width:101.8%;
	margin:auto;
	height:30px;
	background-color:skyblue;
	border:none;
	color:white;
	font-size:20px;
	font-weight:bolder;
	cursor:pointer;
}
.login:hover{
	color:black;
}


/* addphoto page design

*/




nav{
	width:225px;
	position:relative;
	background-color:white;
	box-shadow:2px 2px 3px #999;
	margin-bottom:5px;
	overflow:auto;
	position:fixed;
	top:0;
	bottom:0;
	background-color:#000;
}
.navcont{
	width:100%;
	float:left;
	text-align:center;
	/*#fe4064*/
	height:100%;
	overflow:auto;
}
.newlist{
	display:block;
	width:220px;
	text-align:left;
	padding:2px;
	line-height:50px;
	font-size:14px;
	cursor:pointer;
	font-weight:bolder;
	text-decoration:none;
	color:#333;
	color:white;
}
.newlist:before{
	content:"";
	padding-left:5px;
}
.newlist:hover{
	background-color:#fe4064;
	color:white;
}



/* lang page esign */

.stat{
	width:250px;
	float:left;
	margin:15px;
	box-shadow:0px 0px 20px #ccc;
	height:150px;
	line-height:150px;
	text-align:center;	
	font-size:20px;
	transition: box-shadow 0.2s linear;
	color:white;
}
.stat:hover{
	box-shadow:0px 0px 20px #333;
}
.full{
	color:white;
	width:100%;
	float:left;
	margin:15px;
	box-shadow:0px 0px 20px #ccc;
	height:150px;
	line-height:150px;
	text-align:center;	
	font-size:25px;
}

.langform{
	width:100%;
	display: block;
	border:1px solid black;
}
.lang_name{
	min-width:220px;
	text-align:center;
	float:left;
	font-size:18px;
	line-height: 70px;
	overflow: hidden;
}
.lang_text{
	width:220px;
	height:70px;
	resize:none;
	box-shadow:0px 0px 10px #999;
	font-size:14px;
}
.save_btn, .add_btn{
	background-color:#fe4064;
	text-align: center;
	line-height:70px;
	height: 70px;
	width:160px;
	float:right;
	color: white;
	font-size: 18px;
	cursor: pointer;
	font-weight: bolder;

}
.add_btn{
	background-color:skyblue;
	height:55px;
	line-height:55px;
}
.save_btn:hover{
	color:black;
	box-shadow:0px 0px 10px #999;

}
.topbar{
	width:100%;
	height:40px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	border-width:0px 0px 1px 0px;
}
.topbar_memb{
	width:185px;
	text-align: right;
	float: left;
	margin-left:20px;
}
.count{
	float:left;
	font-weight: bold;
	line-height: 60px;
	font-size:11px;
}
.add{
	margin-right:10px;
	width:180px;
	height:50px;
	margin-left:10px;
}





.lifelisttitle, .article_title{
	width:420px;
	float:left;
}
.lifelistupdate, 
.lifelistdelete, 
.achivedelete, 
.articlelistupdate, 
.articlelistdelete,
.videodelete{
	width:120px;
	min-height:40px;
	cursor:pointer;
	line-height:40px;
	text-decoration: none;
	color:white;
	text-align: center;
	display:block;

}


.lifelistdelete, 
.achivedelete, 
.articlelistdelete,
.videodelete{
	background-color:#fe4064;

}
.lifelistupdate, 
.articlelistupdate{
	background-color: #00A0D2;
		margin-left:10px;
}




/** tour page */
.tour_title{
	border-bottom:1px solid lightblue;
	margin-right: 50px;
	font-weight:lighter;
	font-size:18px;
	text-transform:lowercase;

}
.add_tour_main{
	text-decoration:none;
	display: block;
	color:skyblue;
	font-size:50px;
	width:100%;
	height:150px;
	margin-bottom:50px;
	box-shadow:0px 0px 10px #ccc;
	text-align:center;
	line-height:150px;
	border-radius:10px;
}
.add_tour_main:hover{

	background-color:#0073AA;
	color:white;
}

.list_cont, td, th {
	text-align:left;
    width:30%;
}
.list_cont, td, th:nth-child(1) {
    width:5%;
}
.list_cont, td, th:nth-child(3), .list_cont, td, th:nth-child(4), .list_cont, td, th:nth-child(5) {
    width:10%;
}
.update_tour, .delete_tour{
	width:100%;
	margin:0;
}

.list_cont {
    border-collapse: collapse;
    width: 100%;
}

.list_cont th {
    height: 50px;
}
/* prices section design */
.list_price_cont, td, tr{
	font-size:20px;
	width:500px;
}
.submit_price{
	border:none;
	font-size:22px;
}
.form_tb, td, tr{
	font-size:20px;
	width:488px;
}
.pr_form{
	width:70px;
	font-size:30px;
}
/*add tour design*/
#add_tour_form{
	width:80%;
	margin:auto;
}
.input_texts{
	width:100%;
	height:40px;
	margin-bottom:25px;
	padding:0;
	padding-left:2px;
	border-radius:5px;
	font-size:16px;
	border:1px solid #0073AA;
	
}
.valid{
	border-left:5px solid #5cb85c;
	background-color:rgba(92,184,92,0.3);
	border-radius:0px 5px 5px 0px;
}
.error{

	border-left:5px solid #c9302c;
	background-color:rgba(201,48,42,0.3);
	border-radius:0px 5px 5px 0px;
}
.error_bar{
	font-family:"low font";
	position:fixed;
	z-index:50;
	left:0;
	right:0;
	height:40px;
	font-size:19px;
	line-height:40px;
	text-align:center;
	border-bottom:4px solid #5cb85c;
	background-color:rgba(92,184,92,0.7);
	display: none;
	color:white;
}
.input_texts:focus{
	outline: none;
}
.field_title{
	font-weight: lighter;
	color:#777;
	width:200px;
	text-align: center;
	margin:auto;
}
.tour_desc{
	height:130px;
	resize:none;
}

.input_number{
	width:90px;
	height:30px;
	font-size:18px;
	line-height:30px;
	text-align:center;
	border:1px solid #0073AA;
	margin-bottom:10px;
}
.input_number:focus{
	outline: none;
}
.numbers{
	float:left;
}
.activities{
	width:300px;
	padding:10px;
	overflow:auto;
	box-shadow:0px 0px 10px #ccc;
	float:right;
}
.inclusions{
	margin-top:40px;
	width:300px;
	padding:10px;
	overflow:auto;
	box-shadow:0px 0px 10px #ccc;
	float:right;
}
.back_btn{
	width:180px;
	display:block;
	margin-bottom:30px;
	margin-left:90px;
}

.add_image, .add_image1{
	margin:auto;
	width:180px;
	height:180px;
	max-width:180px;
	max-height:180px;
	font-size:50px;
	line-height: 180px;
	font-weight:bolder;
	border:10px dashed #464646;
	color:#464646;
	text-align:center;
	cursor:pointer;
	position: absolute;
	left:0;
	background-size:cover;
	background-position: center;
	
}
.add_image:hover, .add_image1:hover{
	box-shadow:0px 0px 10px #333;
}
.comfile, .comfile1{
	margin-bottom:50px;
	margin:auto;
	position:absolute;
	width: 200px;
	left:0;
	display: none;
}
.comfile1, .add_image1{
	top:230px;
	left:0 !Important;
}
.images_cont{
	position: relative;
	width:250px;
	float:left;
	margin-top:60px;
	margin-left:-150px;
}
.add_tour{
	display:block;
	width:300px;
	height:250px;
	float:right;
	margin-top:240px;
	margin-right:-300px;
	font-size:50px;
	color:white;
	background-color:#0073AA;
	border:none;
	margin-bottom:30px;
}